.stopwatch__time {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin: 1rem;
}

.stopwatch__text {
    transition: 0.5s ease-in-out;
    padding: 0.5rem;
    font-size: calc(1rem + 10vw);
}
.ms{
    opacity: 0.5;
}

/* .stopwatch__unit{
    display: flex;
    align-items: flex-end;
} */

.stopwatch__buttons {
    margin: 1.5rem;
    text-align: center;
}

.stopwatch__button {
    margin: calc(0.5rem + 0.5vw);
    padding: calc(1rem + 0.5vw);
    font-size: calc(1rem + 2.5vw);
    opacity: 0.9;
}

.stopwatch__button:hover {
    cursor: pointer;
    /* background-color: rgba(206, 208, 219); */
    opacity: 0.7;
    transition: 0.5s;
}

a {
    text-decoration: none;
    color: white;
}

h1 {
    font-size: calc(1rem + 2.5vw);
}
